{% extends '::base.html.twig' %}

{% block body %}
	<div class="row">

		<div class="col-md-12">

			<ul class="breadcrumb">
				<li><a href="">Inicio</a></li>
				<li class="active">Tutoriales</li>
			</ul>
			<h2>Tutoriales</h2>

			<div class="center-block">

				<ul class="list-inline">
					{% for cat in categoria %}
							<li><a class="btn btn-primary btn-xs" href="{{ asset('tutoriales/') }}{{ cat.id }}"  >{{ cat.nombre }}</a></li>

					{% endfor%}
				</ul>
			</div>
			<hr>
		</div>
	</div>
	<ol>
		{% for mensaje in mensajes %}
			<li><a href="{{ asset('entrada/')}}{{mensaje.id}}">{{mensaje.titulo}}</a></li>
		{% endfor%}
	</ol>
{% endblock %}

