{% extends '::base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-6">
			<h1>{{ app.session.get('nombre') }}, Bienvenido al Blog de pruebas</h1>
		</div>
		<div class="col-md-6">
			<a href="{{ path('blog_logout')}}">Salir</a>
	</div>
	<hr>
	<ol>
		{% for mensaje in mensajes %}
			<li><a href="{{ asset('entrada/')}}{{mensaje.id}}">{{mensaje.titulo}}</a></li>
		{% endfor%}
	</ol>
{% endblock %}
